<?xml version="1.0" encoding= "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nju.dao.ConfigDao">
    <resultMap id="BaseResultMap" type="com.nju.entity.Config">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="router" jdbcType="VARCHAR" property="router"/>
        <result column="port" jdbcType="VARCHAR" property="port"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="mask" jdbcType="VARCHAR" property="mask"/>
        <result column="isNoShutdown" jdbcType="VARCHAR" property="isNoShutdown"/>
    </resultMap>

    <select id="getConfigByRouter" resultType="Config" parameterType="String">
        select * from config where router = #{router}
    </select>

    <select id="getAllConfig" resultType="Config">
        select * from config
    </select>
</mapper>