<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>网络拓扑</title>
    <style>
        .wrap {
            width: 900px;
            margin: 0 auto;
            overflow: hidden;
        }

        #left {
            width: 200px;
            height: 1000px;
            float: left;
        }

        #right {
            width: 700px;
            height: 1000px;
            float: left;
        }
    </style>

    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

    <script language="javascript">
        function pc(element) {
            var name = element.id;
            document.getElementById("device").value = name;

            return false;
        }
    </script>

    <script>
        function ping() {
            $.ajax({
                type: "post",
                url: "/ping",
                data: "",
                dataType: "json",
                success: function (data) {
                    alert("PING成功");
//					var result=$.parseJSON(data).data;
                    var result = msg.data;
                    var str = "";
                    for (var i = 0; i < result.length; i++) {
                        str += result[i] + "\n";
                    }
                    document.getElementById("pingresult").value = str;
                },
                error: function () {
                    alert("无法连接，PING失败");
                }
            });
            return false;
        }
    </script>

    <script>
        function interface() {
            $.ajax({
                type: "post",
                url: "/interface",
                data: "",
                dataType: "json",
                success: function (data) {
                    alert("配置成功");
                },
                error: function () {
                    alert("无法连接，配置失败");
                }
            });
            return false;
        }
    </script>

    <script>
        function static() {
            $.ajax({
                type: "post",
                url: "/static",
                data: "",
                dataType: "json",
                success: function (data) {
                    alert("配置成功");
                },
                error: function () {
                    alert("无法连接，配置失败");
                }
            });
            return false;
        }
    </script>

</head>

<body>
<div class="wrap">
    <aside id="right">

        <p align="center">
            <input name="pc" type="image" disabled="disabled" id="pc" onClick="pc(this)" src="img/pc.jpg" width="50"
                   height="50">
        </p>
        <p align="center">
            <img src="img/line1.jpg" width="17" height="99" alt=""/></p>
        <p align="center">
            <input name="swithcer" type="image" disabled="disabled" id="swithcer" onClick="pc(this)"
                   src="img/switcher.jpg"
                   width="50" height="50">
        </p>

        <p align="center">
            <img src="img/lline.jpg" width="87" height="98" alt="" id="router1s"/> <img src="img/bline.jpg" width="15"
                                                                                        height="99" alt=""
                                                                                        id="router2s"/>
            <img src="img/rline.jpg" width="87" height="98" alt="" id="router3s"/></p>
        <p align="center">
            <input name="router1" type="image" id="router1" src="img/router.jpg" width="50" height="50"
                   onClick="pc(this)">
            <img src="img/vline.jpg" width="61" height="11" alt="" id="router12e"/>
            <input name="router2" type="image" id="router2" src="img/router.jpg" width="50" height="50"
                   onClick="pc(this)">
            <img src="img/vline.jpg" width="61" height="11" alt="" id="router23e"/>
            <input name="router3" type="image" id="router3" src="img/router.jpg" width="50" height="50"
                   onClick="pc(this)">
        </p>
        <p align="center">
            <input type="button" name="ping" value="PING" style="font-size: 25px" onClick="ping()">
        </p>
        <p align="center">
            <textarea name="pingresult" readonly="readonly" id="pingresult" style="font-size:40px"></textarea>
        </p>

    </aside>

    <section id="left">
        <form style="font-size: 20px">
            <p>
                <input type="button" style="font-size: 25px" value="配置接口" onClick="interface()">
            </p>
            <p>
                <input type="button" name="button" id="button" value="配置静态路由" style="font-size: 25px"
                       onClick="static()">
            </p>
        </form>
    </section>
</div>
</body>

</html>
