<!DOCTYPE html>
<html class="x-admin-sm"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="./css/font.css">
        <link rel="stylesheet" href="./css/xadmin.css">
        <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="./js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
<body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                  <div class="layui-form-item">
                      <button  class="layui-btn" onClick="static()">
                          配置静态路由
                      </button>
                      <button  class="layui-btn" onClick="interface()">
                          配置端口
                      </button>
                  </div>
              </form>
            </div>
        </div>
    
    <script>
        function interface(){
			$.ajax({
				type:"post",
				url:"/interface/router2",
				data:"",
				dataType:"json",
				success:function(data){
				    var result = msg.data;
					alert(result);
				},
				error:function(){
					alert("无法连接，配置失败");
				}
			});
			return false;
		}
            
        function static(){
			$.ajax({
				type:"post",
				url:"/static/router2",
				data:"",
				dataType:"json",
				success:function(data){
//					alert("配置成功");
                    var result = msg.data;
					alert(result);
				},
				error:function(){
					alert("无法连接，配置失败");
				}
			});
			return false;
		}
        </script>
    
    </body>
</html>
